/* alles */
body{
    background-color: rgb(146, 214, 100);
    max-width: 375px;
    height: auto;
    font-size: smaller;
    font-weight: 700;
    font-family:Arial, Helvetica, sans-serif
}

footer{
    position:fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: rgb(180, 180, 180);
    color: black;
    padding: 0;
}

footer ul{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    padding-left: 0;
}

footer a{
    text-decoration: none;
    color: black;
}

.activepage{
    background-color: rgb(146, 214, 100);
    border: solid black thin;
    border-radius: 5px;
    padding: 5px;
}


/* eind alles */


/* home */

h1{
    margin-bottom: -10px;
}

.logo{
    border-bottom: solid black thin;
    display: flex;
    background-color: rgb(180, 180, 180);
    margin: -10px;
}

.img-logo img{
    width: 40px;
    margin-left: -30px;
    margin-top: 5px;
}

.home-img img{
    width: 150px;
    margin-left: 60px;
    margin-top: 15px;
    border-radius: 10px;
}

.text-home h2{
    padding-left: 100px;
    text-decoration: underline;
    font-weight: bolder;
}

.text-home p{
    border-left: solid black;
    padding-left: 5px;
}

.text-1{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.text-2{
    margin-left: 20px;
    margin-right: 20px;
}

.locatie h2{
    display: flex;
    justify-content: center;
    border: solid black;
    border-radius: 20px;
    background-color: lightskyblue;
    margin-bottom: 75px;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
    text-decoration: underline;
    color: green;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.600);
}
/* eind home */

/* about */

.duurzaam{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    text-decoration: underline;
}

.img3 img{
    width: 150px;
    margin-left: 60px;
    border-radius: 10px;
}

.organische-landbouwpraktijken{
    border: solid black thin;
    margin-top: 25px;
    margin-left: 10PX;
    margin-right: 10PX;
    background-color:rgb(39, 39, 39);
    color:bisque;
    background-image: url(img/op2.png);
    border-radius: 10px;
}

.organische-landbouwpraktijken li{
    margin: 5px;
}

.organische-landbouwpraktijken h3{
    display: flex;
    justify-content: center;
}

.waterbeheer,.compostering,.zorg-voor-de-bodem,.zuinig-energiegebruik,.herbruikbare-materialen,.lokaal-en-seizoensgebonden-voedsel,.biodiversiteit-bevorderen{
    border: solid black thin;
    background-color:rgb(39, 39, 39);
    color:bisque;
    background-image: url(img/op2.png);
    margin-top: 10px;
    margin-left: 10PX;
    margin-right: 10PX;
    padding-left: 5px;
    border-radius: 10px;
}

.waterbeheer li,.compostering li,.zorg-voor-de-bodem li,.zuinig-energiegebruik li,.herbruikbare-materialen li,.lokaal-en-seizoensgebonden-voedsel li,.biodiversiteit-bevorderen li{
    margin: 5px;
}

.waterbeheer h3,.compostering h3,.zorg-voor-de-bodem h3,.zuinig-energiegebruik h3,.herbruikbare-materialen h3,.lokaal-en-seizoensgebonden-voedsel h3,.biodiversiteit-bevorderen h3{
    display: flex;
    justify-content: center;
}

.zorg-voor-de-bodem{
    margin-bottom: 35px;
}

.plant img{
    width: 250px;
    height: auto;
    margin-bottom: 60px;
    margin-left: 20px;
    border-radius: 10px;
}

/* eind about */


/* contact */

.social{
    list-style-type: none; 
    display: flex; 
    flex-direction: column;
    align-items: start;
    border-right: solid black;
    margin-right: 30px;
}


.social li{
    padding: 10px;
    margin-left: -30px;
}

.social a{
    color: black;
}

.social-media h2{
    display: flex;
    justify-content:start ;
    margin-left: 5%;
    margin-top: 50px;
}

.contact{
    margin-left: 5%;
}

.contact h2{
    margin-top: 50px;
}


.input-field{
    width: 300px;
    height: 40px;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 0;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 14px;
    outline: none;
    display: block;
    background-color: lightgray;
}

.input-field-textarea{
    width: 300px;
    height: 200px;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 0;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 14px;
    outline: none;
    display: block;
    background-color: lightgray;
}

.btnsubmit{
    border-radius: 20px;
    color: rgb(255, 255, 255);
    margin-top: 18px;
    margin-bottom: 100px;
    padding: 10px;
    background-color: rgb(187, 85, 85);
    font-size: 20px;
    border: none;
    cursor: pointer;
    width: 150px;
    border: 1px solid black;
    box-shadow: var(--shd,0 5px 10px rgba(0,0,0,.6));
}

/* eind contact */